*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    background-image: url('/construction1-unsplash.jpg');
    background-position: center;
    background-size: cover;
    /*height: 100svh;*/
}

.overlay {
    position: absolute;
    height: 90vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
}

.nav-bar {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 24px;
    border-bottom: 1px solid rgba(218, 162, 27, 0.2);
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-bar span {
    cursor: pointer;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-menu {
    display: none;
}


.nav-a::before {
    /* content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #e04e65;
    top: 88%;
    left: -100%;
    transition: 0.3s; */
}


.nav-bar li {
    cursor: pointer;
    position: relative;
    overflow-y: hidden;
}

.nav-bar li:hover {
    color: #DAA21B;
    transition: 0.3s;
}

.header-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-section::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    transform: translateX(-50px);
    z-index: -1;
    animation: increment 4s linear infinite;
}

@keyframes increment {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.company-content {
    text-align: center;
}

.company-content button {
    background-color: #DAA21B;
    border-radius: 4px;
    padding: 12px 32px;
    font-size: 16px;
    color: #252C3A;
    outline: none;
    cursor: pointer;
    transition: 0.2s linear;
}

.company-content button:hover {
    background-color: #B8891C;
}

.company-name {
    letter-spacing: 5px;
    font-size: 5rem;
}

.company-description {
    font-size: 36px;
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 32px;
}

.static-txt {
    font-weight: 500;
}

.dynamic-txt {
    color: #DAA21B;
    font-weight: 700;
}

.images-show {
    position: relative;
    height: 100%;
    width: 100%;
}

.image {
    position: absolute;
    width: 250px;
    border-radius: 1rem;
    width: 95%;
    height: 80%;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.4);
}

.image-1 {
    object-fit: cover;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slide 10s infinite;
}

.image-2 {
    object-fit: cover;
    object-position: top center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-menu {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: #f5f5f5;
    /* z-index: 22222; */
    top: 0;
    overflow: hidden;

    .nav-items {
        display: flex;
        gap: 48px;
        color: #000;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .close-bttn {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        cursor: pointer;
        color: #000;
        border: none;
        padding: 24px;
        font-size: 24px;
        background-color: #f5f5f5;
    }
}

@keyframes slide {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 1300px) {
    .company-name {
        font-size: 4rem;
    }
}

@media (max-width: 720px) {
    header {
        margin-bottom: 60px;
    }

    .nav-bar {
        font-size: 18px;
    }

    .nav-scrolled {
        position: fixed;
        top: 0;
        width: 100%;
        color: #000;
        background-color: #f5f5f5;
        z-index: 3;
    }

    .nav-menu {
        display: flex;
    }

    .nav-items {
        display: none;
    }

    .company-name {
        font-size: 3rem;
    }

    .company-description {
        font-size: 24px;
    }

    .header-section::after {
        top: 25%;
        left: 50%;
        transform: translateX(50%);
        animation: none;
    }
}

@media (max-width: 460px) {
    .nav-bar {
        font-size: 14px;
    }

    .company-name {
        font-size: 3rem;
    }

    .nav-bar ul {
        gap: 1rem;
    }

    header {
        margin-bottom: 60px;
    }

    .header-section::after {
        top: 25%;
        left: 50%;
        transform: translateX(50%);
        animation: none;
    }
}