footer {
    position: relative;
}

.footer-grid {
    border-top: 2px solid #DAA21B33;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    background-color: #272E3C;
    text-align: center;
}

.footer-grid ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-tractor {
    position: absolute;
    color: #DAA21B;
    top: -20px;
    left: -10%;
    height: 20px;
    animation: move 20s linear infinite;
}

.footer-info-col span,
.footer-contact-col span {
    display: block;
    margin-bottom: 10px;
}

@keyframes move {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

@media (max-width: 870px) {
    .footer-contact-col ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
